
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0px;
}
#header {

}

#header nav {

}

#home {

}

#home article {

}

#home figure {

}

#sobre-nos {
    background-color: #ffff;
    height: 100vh;
}
 
.netbok h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.1em, 2em + 1vw, 3em);
    line-height: 52px;
    color: #0A093D;
    position: absolute;
    margin-top: 30vh;
    width: 78vh;
    margin-left: 20vh;
}                   

.netbok h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.1em, 0.2em + 1vw, 1.5em);
    line-height: 18px;
    color: #217BF4;
    position: absolute;
    margin-top: 27vh;
    width: 60vh;
    margin-left: 20vh;
}                   

.text1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.1em, 0.2em + 1vw, 1.5em);
    line-height: 26px;
    color: #656464;
    position: absolute;
    margin-top: 50vh;
    width: 54vh;
    margin-left: 20vh;
}

 .celular {
    position: absolute;
    width: 40%;
    margin-left: 126vh;
}

.store {
    position: absolute;
    margin-top: 70vh;
    max-width: 450px;
    display: flex;
    flex-flow: row wrap;
    display: flex;
    justify-content: space-between;
    margin-left: 16vh;

}

.play img{
    position: absolute;
    left: 30vh;
    top: 3.5vh;
}

.list1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.1em, 0.2em + 1vw, 1.5em);
    line-height: 18px;
    position: absolute;
    margin-left: 20vh;
    margin-top: 70vh;
    list-style: none;

}
.list1 li:before {
    content: '\2022';
    margin: 0 2px;
    color: #217BF4 
   }

.reuniao {
    position: absolute;
    margin-top: 20vh;
    width: 20%;
    margin-left: 100vh;
}

.cabos{
    position: absolute;
    margin-top: 50vh;
    width: 20%;
    margin-left: 150vh;
}

.notbook{
    position: absolute;
    margin-top: 7vh;
    width: 20%;
    margin-left: 150vh;
}

#sobre-nos article {

}

#sobre-nos figure {

}

#publicidade {
    background-color: #E5F0FD;
    height: 100vh;
}
 
.title h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.1em, 2em + 1vw, 3em);
    line-height: 52px;
    color: #0A093D;
    position: absolute;
    margin-top: 30vh;
    width: 69vh;
    margin-left: 20vh;
}                   

.title h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.1em, 0.2em + 1vw, 1.5em);
    line-height: 18px;
    color: #217BF4;
    position: absolute;
    margin-top: 27vh;
    width: 60vh;
    margin-left: 20vh;
}                   

.text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.1em, 0.2em + 1vw, 1.5em);
    line-height: 26px;
    color: #656464;
    position: absolute;
    margin-top: 50vh;
    width: 54vh;
    margin-left: 20vh;
}

 .celular {
    position: absolute;
    width: 40%;
    margin-left: 126vh;
}

.store {
    position: absolute;
    margin-top: 70vh;
    max-width: 450px;
    display: flex;
    flex-flow: row wrap;
    display: flex;
    justify-content: space-between;
    margin-left: 16vh;

}

.play img{
    position: absolute;
    left: 30vh;
    top: 3.5vh;
}

#membros{
}