*{
    font-family: inter;
}
#aside{
    display: flex;
    align-items: center;
    gap: 25px;
}

#ordemFoto{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.foto{
    border-radius: 15px;
}

.text{
    font-weight: 500;
    font-size: 18px;
    color: #217BF4;
}

.text1{
    font-weight: 700;
    font-size: 36px;
    color: #0A093D;
}

.text2{
    font-weight: 400;
    font-size: 16px;
    color: #656464;
}
.ordem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
}

.formataçao{
    z-index: 2;
    position: relative;
    bottom: 3.50px;
    left: 12px;
}

.box{
    box-sizing: border-box;
    width: 336px;
    height: 340px;
    background: #FFFFFF;
    box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
    border: 1px solid #dddddd;
    border-radius: 14px;
}